.date-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 17px;
}

.date-block__dates {
    display: flex;
    flex-direction: row;
}

.date-block__title {
    margin: 0 0 5px 0;
    font-size: 22px;
    text-align: left;
}

.date_error {
    margin-top: 3px;
    font-size: 13.5px;
    color: #EE3465;
    text-align: left;
}