.currency-select {
    max-width: 120px;
}

.currency-select_wrapper {
    position: relative;
}

.currency-select_wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 7.5px;
    transform: translateY(-35%);
    display: block;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.4px 6px 0 6px;
    border-color: black transparent transparent transparent;
}

.currency-select__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    appearance: none;
    border: 1px solid black;
    background-color: #fff;
    padding: 5px 25px 5px 7.5px;
    outline: none;
    width: 100%;
}

.currency-select__select:disabled {
    opacity: 0.5;
}